
html{scroll-behavior: smooth;}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgb(134, 166, 167); /* Set a background color */
    color: rgb(233, 19, 19); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: ; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 3em;
    height: 3em;
  }
  .card-custom-h{height: 20em;}
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  #arrow{
      width: 2em;
  }
  @media(max-width:461px){
      .card-custom-h{height: 25em;}
  }